*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    align-items: center;
    /* background-color: rgb(206, 112, 127); */
    background-color: #FBCC93;
    padding: 20px;
}
.logo{
    margin-right: 350px;
    margin-left: 140px;
}
.nav-bar-links{
    display: flex;
    gap: 140px;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.hero-page{
    display: flex;
}
.heading-size{
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    margin-top: 50px;
    margin-left: 150px;
}
.first-h{
    font-size: 80px;
}
.sec-h{
    font-size: 170px;
    font-weight: 800;
    color: #C92A11;
}
.third-h{
    font-size: 80px;
    padding-left: 170px;
} 
.hero-text{
    width: 550px;
    margin-left: 150px;
    margin-top: 50px;
}
.hero-text-design{
    word-spacing: 5px;
    color: gray;
    text-align: justify;
}
.buttons{
    padding-left: 150px;
    padding-top: 50px;
}
.button-text-size{
    font-size: smaller;
}
.red-button{
    background-color:#C92A11;
    color: white;
    border-color:  #C92A11;
    border-radius: 30px;
    width: 206px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
}
.red-button:hover{
    background-color: black;
    border-color: black;
    transition-duration: 0.5s;
}
.black-button{
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 30px;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.black-button:hover{
    background-color: #C92A11;
    border-color: #C92A11;
    transition-duration: 0.5s;
}
.hero-pic{
    padding-top: 50px;
    padding-left: 110px;
}
.food-menu{
    height: 8000px;
    background-color: rgb(247, 234, 218);
}
.food-items{
    display: flex;
    gap: 30px;
}
/* .menu-heading{
    color: #C92A11;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 150px;
    padding-top: 30px;
} */
.sec-menu-heading{
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 1000;
    margin-left: 400px;
    padding-top: 50px;
}
.burger-div{
    background-color: white;
    width: 300px;
    height: 500px;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 10px;
}
.burger-div:hover{
    background-color: #FFB936;
    /* transition-timing-function: ease-in-out; */
    transition : 0.7s ease-in;
}
.burger-pic{
    width: 220px;
    padding-left: 35px;
    padding-top: 50px;
}
.burger-line{
    background-color: #C92A11;
    width: 80px;
    height: 3px;
    margin-left: 115px;
    margin-top: 50px;
}
.burger-text{
    font-size: 30px;
    font-weight: 400;
    margin-left: 80px;
    margin-top: 50px;
}
.burger-text-sec{
    color: #C92A11;
    font-size: small;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 100px;
}
/* Fries */
.fries-div{
    background-color: white;
    width: 300px;
    height: 500px;
    margin-top: 50px;
    border-radius: 10px;
}
.fries-div:hover{
    background-color: #FFB936;
    /* transition-timing-function: ease-in-out; */
    transition : 0.7s ease-in;
}
.fries-pic{
    width: 220px;
    padding-left: 35px;
    padding-top: 30px;
}
.fries-line{
    background-color: #C92A11;
    width: 80px;
    height: 3px;
    margin-left: 115px;
    margin-top: 10px;
}
.fries-text{
    font-size: 30px;
    font-weight: 400;
    margin-left: 80px;
    margin-top: 50px;
}
.fries-text-sec{
    color: #C92A11;
    font-size: small;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 100px;
}
/* Pasta */
.pasta-div{
    background-color: white;
    width: 300px;
    height: 500px;
    margin-top: 50px;
    border-radius: 10px;
}
.pasta-div:hover{
    background-color: #FFB936;
    /* transition-timing-function: ease-in-out; */
    transition : 0.7s ease-in;
}
.pasta-pic{
    width: 220px;
    padding-left: 35px;
    padding-top: 30px;
}
.pasta-line{
    background-color: #C92A11;
    width: 80px;
    height: 3px;
    margin-left: 115px;
    margin-top: 50px;
}
.pasta-text{
    font-size: 30px;
    font-weight: 400;
    margin-left: 80px;
    margin-top: 50px;
}
.pasta-text-sec{
    color: #C92A11;
    font-size: small;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 100px;
}
/* Pizza */
.pizza-div{
    background-color: white;
    width: 300px;
    height: 500px;
    margin-top: 50px;
    border-radius: 10px;
}
.pizza-div:hover{
    background-color: #FFB936;
    /* transition-timing-function: ease-in-out; */
    transition : 0.7s ease-in;
}
.pizza-pic{
    width: 250px;
    padding-left: 35px;
    padding-top: 30px;
}
.pizza-line{
    background-color: #C92A11;
    width: 80px;
    height: 3px;
    margin-left: 115px;
    margin-top: 40px;
}
.pizza-text{
    font-size: 30px;
    font-weight: 400;
    margin-left: 80px;
    margin-top: 50px;
}
.pizza-text-sec{
    color: #C92A11;
    font-size: small;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 100px;
}
