*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    display: flex;
    align-items: center;
    background-color: rgb(206, 112, 127);
    padding: 20px;
}
.logo{
    margin-right: 400px;
    margin-left: 50px;
}
.nav-bar-links{
    display: flex;
    gap: 120px;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.heading-size{
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    margin-top: 50px;
    margin-left: 75px;
}
.hero-page{
    display: flex;
}
.first-h{
    font-size: 80px;
}
.sec-h{
    font-size: 170px;
    font-weight: 800;
    color: rgb(232, 30, 30);
}
.third-h{
    font-size: 80px;
    padding-left: 170px;
} 
.hero-text{
    width: 550px;
    margin-left: 75px;
    margin-top: 50px;
}
.hero-text-design{
    color: gray;
}
.buttons{
    padding-left: 75px;
    padding-top: 50px;
}
.red-button{
    background-color: rgb(232, 30, 30);
    color: white;
    border-color:  rgb(232, 30, 30);
    border-radius: 30px;
    width: 206px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
}
.black-button{
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 30px;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}